.header {
	position:relative;
	background:white;
	height:100px;
}

.head a{
	width:153px;
	height:100px;
	background:url(pic/logo1.png) no-repeat;
	position:absolute;
	left:45%;
	top:0px;
}

.label{
	display:none;
	text-align:center;
	padding:20px;
	position:absolute;
	left:39%;
	
}

.label a{
	text-decoration:none;
	font-size:300%;
	font-family: 'Amatic SC', cursive;
	color:black;
	
}

@media all and (max-width:480px){
	.head a{left:80%;
	background:url(pic/logo2.png) no-repeat;}
	.label{
	display:block;
}


}









