*{
	padding:0px; margin:0px;
}
.cont{
	/*border:#875a34 3px solid;*/
	background:white;
	width:1000px;
	position:relative;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	
}

iframe{
	float:left;
	padding-right: 10px;
	
}

.content{
	min-height:400px;
	background:white;
	margin:0px;
	padding: 5px 2px;
	font-family: 'Open Sans Condensed', sans-serif;
	
	
}

.content a{
	text-decoration:none;
	font-family: 'Open Sans Condensed', sans-serif;
}



.footer{
	height:70px;
	background:white;
	color:black;
	z-index:10;
	position:relative;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 5px 2px;
	text-align:center;
	border-top:solid grey 1px;
}

.nav{
	height:30px;
	background:white;
	font-family:'Open Sans Condensed', sans-serif;
}

.nav a{
	float: left;
    color: black;
    text-align: center;
	width:24.5%;
    padding: 5px 2px;
    text-decoration: none;
    font-size: 17px;
	transition: background 1s ease;
}

.nav a:hover{
	background-color: rgba(208,205,205,0.44);
    color: grey;
	
}

.nav a.active{
	background-color: rgba(208,205,205,0.44);
    color: grey;
}
h2{
	text-align:center;
	
}


@media all and (max-width:1000px) and (min-width:769px){
	.cont{min-width:769px;}
	.content{min-height:400px;}
	.footer{
	width:auto;
}

}

@media all and (max-width:768px) and (min-width:481px){
		
	.cont{min-width:481px;}
	.content{min-height:400px;}
	.nav{margin-left:0px;}
	.footer{width:auto;}
}

@media all and (max-width:480px){
	.cont{min-width:360px;min-height:640px;}
	.footer{width:auto;}	
	.content{min-height:400px;}
	.nav{display:none}


}






