.table{
	border-spacing:0px;
	border:solid 1px rgba(208,205,205,0.5);
	width:100%;
}

.table th{
	border:solid 0.5px grey;
	background:rgba(208,205,205,0.5);
	border-collapse: separate;
	padding:2px;
	font-family:'Open Sans Condensed', sans-serif;
}

.table td{
	border:solid 0.5px rgba(208,205,205,0.5);
	margin:0px;
	padding:2px;
	font-family:'Open Sans Condensed', sans-serif;
	
}

.table td>a{
	text-decoration:none;
	font-family:'Open Sans Condensed', sans-serif;
	
	
}

dialog{
	left:40%;
	top:40%;
	border:grey solid 1px;
	padding:5px;
	width:400px;
	height:auto;
	
	
}


#show{
	background:rgba(208,205,205,0.8);
	
	font-family:'Open Sans Condensed', sans-serif;
}

#close{
	
	width:20px;
	height:20px;
	background:rgba(208,205,205,0.8);
	color:red;
	margin-left:92%;
	
}



#submit{
	background:rgba(208,205,205,0.8);
	font-family:'Open Sans Condensed', sans-serif;
	padding:5px;
	margin:5px;
}








